* {
    box-sizing: border-box;
}

body {
    background-color: #3E808B;
    font-family: sans-serif;
    color: #ffffff;
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    margin: 0;
    padding-top: 7.5em;
    padding-left: 0.9em;
    /*font-family: trade-gothic-next, sans-serif;
    font-style: normal;
    font-weight: 800;*/
    font-size: 1.8em;
    padding-right: 0.5em;
}

.blond-highlight {
    color: #F4F7BE;
}

.hero {
    background-image: url(assets/trashwater.jpeg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.video {
    background-image: url(assets/blue.jpg);
    background-size: cover;
    height: 95vh;
    background-repeat: no-repeat;
}

header {
    position: fixed;
}

input {
    display: none;
}

label {
    cursor: pointer;
}

nav {
    max-height: 0;
    overflow: hidden;
}

input:checked~nav {
    max-height: 500px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0em 2em;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

label img {
    margin-left: 2em;
    margin-top: 3.5em;
    width: 10%;
}

.img-icon {
    width: 8.6%;
}

.logo {
    display: inline;
}

.logo img {
    width: 85px;
    padding-top: 1.5em;
    position: absolute;
    left: 40vw;
}

@keyframes levitate {
    0% {top: 90vh;}
    50% {top: 85vh;}
    100% {top: 90vh;}
}

.arrow {
    background-color: white;
    height: 40px;
    width: 15px;
    position: absolute;
    left: 50vw;
    top: 90vh;
    animation-name: levitate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#section2 {
    text-align: center;
    padding: 0em 2.5em;
}

.selling-points {
    text-align: center;
    padding: 0em 2.5em;
}

#section5 {
    text-align: center;
    padding: 0em 2.5em;
}

.deepblue {
    background-image: url(assets/deepblue.jpg);
    background-size: cover;
}

.map {
    display: none;
}

.footer {
    background-color: lightgray;
}

.footer p {
    margin-bottom: 0;
}

.footer p:nth-child(1) {
    margin-top: 0;
}




@media only screen and (min-width: 480px) {
    .logo img {
    position: absolute;
    left: 45vw;

}




@media only screen and (min-width: 600px) {

    h1 {
        padding-top: 8em;
    }

}




@media only screen and (min-width: 768px) {

    .mobile-location {
        display: none;
    }

    .map {
        display: block;
        width: 100vw;
    }

}


@media only screen and (min-width: 900px) {

    nav {
        max-height: 10em;
        display: inline-block;
    }

    label {
        display: none;
    }

    ul li {
        display: inline;
        padding: 0.7em;
    }

    .logo img {
        position: absolute;
        left: 5vw;
    }

    .menu {
        position: relative;
        top: 58px;
        left: 18vw;
    }

    .boat-btn a {
        color: #61B9A0;
        background-color: #ffffff;
    }

    .donate-btn a {
        color: #0A9990;
        background-color: #ffffff;
    }

    h1 {
        padding-top: 11em;
    }

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}

*/
