* {
    box-sizing: border-box;
}

body {
    background-color: #3E808B;
    font-family: sans-serif;
    color: #ffffff;
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    margin: 0;
    padding-top: 7.5em;
    padding-left: 0.9em;
    padding-right: 2em;
    /*font-family: trade-gothic-next, sans-serif;
    font-style: normal;
    font-weight: 800;*/
    font-size: 1.8em;
}

h2 {
    font-size: 1.9em;
    padding-top: 1.2em;
}

.numero-uno-h3 {
    position: relative;
    /*left: 1.9em;*/
    bottom: 5em;
    font-size: 1.5em;
}

h4 {
    margin: 0.5em 0em 0em 0em;
}

.blond-highlight {
    color: #F4F7BE;
}

.hero {
    background: linear-gradient(rgba(62,128,139,0),rgba(62,128,139,1)), url(assets/trashwater.jpeg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

header {
    position: fixed;
}

input {
    display: none;
}

label {
    cursor: pointer;
}

nav {
    max-height: 0;
    overflow: hidden;
}

input:checked ~ nav {
    max-height: 500px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0em 2em;
}

li {
    padding-top: 1em;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

label img {
    margin-left: 2em;
    margin-top: 3.5em;
    width: 10%;
}

.img-icon {
    width: 20px;
}

.logo {
    display: inline;
}

.logo img {
    width: 85px;
    padding-top: 1.5em;
    position: absolute;
    left: 40vw;
}

@keyframes levitate {
    0% {
        top: 90vh;
    }
    50% {
        top: 85vh;
    }
    100% {
        top: 90vh;
    }
}

.arrow {
    height: 50px;
    position: absolute;
    left: 50vw;
    top: 90vh;
    animation-name: levitate;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

p {
    font-size: 0.9em;
}

#section2 p {
    margin: 2em 0em;
    padding-bottom: 0.7em;
}

.video {
    background: linear-gradient(rgba(1,47,63,0),rgba(1,47,63,1)), linear-gradient(rgba(62,128,139,1),rgba(255,255,255,0)), url(assets/blue.jpg);
    background-size: cover;
    height: 95vh;
    background-repeat: no-repeat;
}

.pictures {
    width: 55vw;
}

.photo1 {
    position: relative;
    left: 8em;
    top: 3em;
}

#section2, .selling-points, #section5, #section6 {
    text-align: center;
    padding: 0em 2.5em;
}

#section4 {
    background-color: #012F3F;
}

.selling-points div {
    padding-bottom: 3em;
}

.deepblue {
    background-image: url(assets/deepblue.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
}

.map {
    display: none;
}

.green-kayak {
    display: none;
}



/*  FOOTER  */



.footer {
    background-color: lightgray;
    color: #7c7c7c;
    text-align: center;
    padding: 1em 0em 1em 0em;
}

.footer p {
    margin-bottom: 0;
}

.footer p:nth-child(1) {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 0.85em;
    padding-bottom: 0.5em;
}

.footer p:nth-child(2) {
    font-size: 0.7em;
    text-transform: uppercase;
}

.footer p:nth-child(3) {
    margin: 0.5em 0em 0em 0em;
}

.footer p:nth-child(4) {
    font-size: 0.7em;
    text-transform: uppercase;
}

.footer p:nth-child(5) {
    margin: 0.5em 0em 0em 0em;
    padding-bottom: 1.5em;
}

.footer p:nth-child(6) {
    text-transform: uppercase;
    font-size: 0.8em;
    padding-bottom: 1em;
}

.SoMe-icons img {
    height: 25px;
}

.footer .SoMe-icons {
    display: inline;
    padding: 0em 0.7em 0.7em;
}




@media only screen and (min-width: 480px) {

    .logo img {
        position: absolute;
        left: 45vw;
    }

    #section2 {
        padding: 0em 5em;
    }

    .selling-points {
        padding: 0em 5em;
    }

    #section5 {
        padding: 0em 5em;
    }

    h4 {
        font-size: 1.1em;
    }

    .pictures {
        width: 250px;
    }

}




@media only screen and (min-width: 600px) {

    h1 {
        font-size: 2.1em;
        padding: 8em 3em 0em 1.5em;
    }

}




@media only screen and (min-width: 768px) {

    h1 {
        padding-right: 6em;
        padding-left: 2.5em;
    }

    .pictures {
        width: 300px;
    }

    #section6 {
        padding: 0;
    }

    .mobile-location {
        display: none;
    }

    .map {
        display: block;
        width: 100vw;
    }

    .green-kayak {
        display: inline;
        height: 50px;
    }

}


@media only screen and (min-width: 900px) {

    nav {
        max-height: 10em;
        display: inline-block;
    }

    label {
        display: none;
    }

    ul li {
        display: inline;
        padding: 0.7em;
    }

    .logo img {
        position: absolute;
        left: 5vw;
    }

    .menu {
        position: relative;
        top: 58px;
        left: 18vw;
    }

    .boat-btn a {
        color: #61B9A0;
        background-color: #ffffff;
    }

    .donate-btn a {
        color: #0A9990;
        background-color: #ffffff;
    }

    h1 {
        padding: 8em 9em 0em 4em;
    }

}

@media only screen and (min-width: 1024px) {

    h1 {
        font-size: 3em;

    }

}

@media only screen and (min-width: 1200px) {}

*/
